---
# tasks file for deploy_vm
- name: Override vars if definition is set
  when: deploy_vm_definition is defined
  ansible.builtin.set_fact:
    deploy_vm_name: "{{ deploy_vm_definition.deploy_vm_name | default(deploy_vm_name) }}"
    deploy_vm_base_domain: "{{ deploy_vm_definition.deploy_vm_base_domain | default(deploy_vm_base_domain) }}"
    deploy_vm_vcpus: "{{ deploy_vm_definition.deploy_vm_vcpus | default(deploy_vm_vcpus) }}"
    deploy_vm_memory_mb: "{{ deploy_vm_definition.deploy_vm_memory_mb | default(deploy_vm_memory_mb) }}"
    deploy_vm_base_image: "{{ deploy_vm_definition.deploy_vm_base_image | default(deploy_vm_base_image) }}"
    deploy_vm_disk_path: "{{ deploy_vm_definition.deploy_vm_disk_path | default(deploy_vm_disk_path) }}"
    deploy_vm_osinfo: "{{ deploy_vm_definition.deploy_vm_osinfo | default(deploy_vm_osinfo) }}"
    deploy_vm_bridge: "{{ deploy_vm_definition.deploy_vm_bridge | default(deploy_vm_bridge) | default(omit) }}"
    deploy_vm_network: "{{ deploy_vm_definition.deploy_vm_network | default(deploy_vm_network) | default(omit) }}"
    deploy_vm_users: "{{ deploy_vm_definition.deploy_vm_users | default(deploy_vm_users) }}"

- name: Check if VM already exists
  community.libvirt.virt:
    command: list_vms
  register: _deploy_vm_existing_vms
  changed_when: false

- name: Copy template disk image
  when: deploy_vm_name not in _deploy_vm_existing_vms.list_vms
  ansible.builtin.copy:
    src: "{{ deploy_vm_base_image }}"
    dest: "{{ deploy_vm_disk_path }}{{ deploy_vm_name }}.qcow2"
    mode: preserve
    remote_src: true

- name: Provision the VM using community.libvirt.virt_install
  when: deploy_vm_name not in _deploy_vm_existing_vms.list_vms
  community.libvirt.virt_install:
    name: "{{ deploy_vm_name }}"
    memory: "{{ deploy_vm_memory_mb }}"
    vcpus: "{{ deploy_vm_vcpus }}"        
    disks: 
      - path: "{{ deploy_vm_disk_path }}{{ deploy_vm_name }}.qcow2"
    import: true
    networks:
      - bridge: "{{ deploy_vm_bridge | default(omit) }}"
      - network: "{{ deploy_vm_network | default(omit) }}"
    osinfo:
      name: "{{ deploy_vm_osinfo }}"
    cloud_init: 
      user_data: "{{ lookup('template', 'user_data.yml.j2') }}"
