#cloud-config
hostname: {{ deploy_vm_name }}
fqdn: {{ deploy_vm_name }}.{{ deploy_vm_base_domain }}

users:
{% for user in deploy_vm_users %}
  - name: {{ user.username }}
    gecos: {{ user.fullname }}
    primary_group: {{ user.username }}
{% if user.is_admin | bool %}
    groups: wheel
    sudo: "ALL=(ALL) NOPASSWD:ALL"
{% else %}
    groups: users
{% endif %}
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - {{ user.ssh_public_key }}
{% endfor %}